<div id = "main-continer">
  <div id = "overlay">
    <ng-container  >
    <button class = "css-button-3d--blue2"(click)="vistaUsuario()">Vista usuario</button>
  </ng-container>
  </div>
  <!--<ng-container *ngIf="usuarioActual.rolAsignado === 'ADMIN'">-->
    <div class="contenedor">


    <form (ngSubmit)="buscar()">
      <input  type="text" [(ngModel)]="terminoBusqueda" name="terminoBusqueda" placeholder="Buscar...">
      <button class="css-button-3d--blue" type="submit">Buscar usuario</button>
    </form>
  </div>

    <ul>
      <li *ngFor="let resultado of resultados">{{resultado.nombre}} {{resultado.apellido}} </li>
    </ul>






  <ng-container  >

  <div class="contenedor">
  <p class="titulo-tabla">Lista de Usuarios:</p>
    <div style="text-align: right"  ><button (click)="alternarTablaUsuario()" class="css-button-3d--blue--ocultar">{{abierto? 'Cerrar':'Mostrar'}}</button></div>

  </div>

  <table class="center" *ngIf="mostrarTablaUsuarios">
    <thead>
      <tr>
        <th >Correo electrónico</th>
         <th >Nombre</th>
        <th >Apellidos</th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <ng-container >
          <td>{{ usuario.email }}</td>
           <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido1 }} {{usuario.apellido2}}</td>
          <td>
            <button (click)="verDetallesUsuario(usuario.id)" class="css-button-3d--blue">Editar</button>
            <button *ngIf="!usuario.confirmacionEliminacion" (click)="usuario.confirmacionEliminacion = true" class="css-button-3d--gray" style="margin-left: 10px">Eliminar</button>

            <div *ngIf="usuario.confirmacionEliminacion" class="confirmacion-eliminacion">
              <p>¿Estás seguro que deseas eliminar a {{ usuario.nombre }}?</p>
              <button (click)="eliminarUsuario(usuario.id); usuario.confirmacionEliminacion = false" class="css-button-3d--gray">Sí, eliminar</button>
              <button (click)="usuario.confirmacionEliminacion = false" class="css-button-3d--blue">Cancelar</button>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
  </ng-container>
