<div class = "changePass">


  <form class="custom-form" (ngSubmit)="changePassword()">
    <h1>Change Password</h1>

      <p>Email: {{usuarioActual.email}}</p>

      <input type="password" class="form-control" placeholder = "Contraseña actual" [(ngModel)]="currentPassword" name="currentPassword" required>

      <input type="password" class="form-control" placeholder = "Contraseña nueva" [(ngModel)]="newPassword" name="newPassword" required>


    <button type="submit" class="btn btn-primary" >Change Password</button>
    <div>
    <a class="profile-btn" [routerLink]="['/profile']">Volver al Menú</a>
  </div>
  </form>
  </div>
