<!--<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class = "col-md-6 offset-md-3 text-center">
        <h1>Gestor de Usuarios</h1>
        <button mat-raised-button color = "primary">Inicio</button>
      </div>
    </div>
  </div>
</div>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Gestor de Usuarios</title>

</head>

<body>
  <div>
  </div>
    <div class = "container">
      <div class ="marco">
      <h2>Gestor de Usuarios</h2>
      <a href="/login" ><span></span>Iniciar Sesion</a>
    </div>

    </div>
</body>
<hr>
  <small>Ignacio Fernández Contreras</small>
</html>
