<html>
  <body>
<div class = "bootstrap-wrapper">
  <div class = "container">
    <div class = "row mt20">
      <div class = "col-md-6 offset-md-3">
        <mat-card>
          <div class = "container text-center">
            <img src="../../../assets/profile.png" width = "100" height = "100">
          </div>

          <h1 class = "text-center">Perfil</h1>
          <form>
            <div class="datos">
            <p><strong style="font-weight: bold;">Email: </strong> {{ usuarioActual.email}}</p>
            <p><strong style="font-weight: bold;">Username:</strong> {{usuarioActual.username}}</p>
            <p><strong style="font-weight: bold;">Name:</strong>{{usuarioActual.nombre}}</p>
            <p><strong style="font-weight: bold;">Surname:</strong> {{usuarioActual.apellido}}</p>
            <p><strong style="font-weight: bold;">Telefone:</strong> {{usuarioActual.telefono}}</p>
          </div>
            <div class = "container text-center">
              <a mat-raised-button color="primary" href = "/change-password-after-login">Cambiar la contraseña</a>
              <button (click)="changePages()"  mat-raised-button color="primary" href="/user-dashboard">Menu</button>


            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>

</div>

<hr>
</body>
  <small>Ignacio Fernández Contreras</small>
  </html>
