table.center {
  background-color: white;
  width: 100%;
  text-align: left;
  margin: 0 auto;
  }

  table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  overflow: hidden;
  }

  th {
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  }

  td {
  padding: 1rem 2rem;
  }

  thead {
  box-shadow: 0 5px 10px #e1e5ee;
  }

  .h2-naranja {
  color: orange;
  }

  .h3-gris {
  color: grey;
  }

  body {
  font-family: Mukta, sans-serif;
  height: 100vh;
  color: #4f546c;
  font-size: 0.9rem;
  margin: 20px;
  }

  form {
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 50px;
  }

  label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
  }

  a {
    display: inline-block;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    color: #fff;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 1em;
  }

  a:hover {
    background-color: #2e6da4;
  }

  a:active {
    background-color: #286090;
    border-color: #204d74;
  }
  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-top: 50px;
  }

  .titulo {
    font-size: xxx-large;
    font-weight: bold;
  }


  input[type="text"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }



  button:hover {
    background-color: #3e8e41;
  }

  button:active {
    background-color: #3e8e41;
  }

  button:focus {
    outline: none;
  }

  .error {
    color: red;
    font-size: small;
    font-weight: normal;
    margin-top: 5px;
  }

  form label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
  }
  form input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#286090;
  }
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 10px 20px;
    box-shadow: 0 5px 10px #e1e5ee;

  }

  .navbar-left {
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
  }

  .navbar-right {
    display: flex;
  }
  .css-button-3d--blue {
    margin-top: 10px;
    min-width: 500px;
    height: 60px;
    color: #fff;
    font-size: x-large;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #337ab7;
    box-shadow: 0 5px #2c0b8e;
  }
  .css-button-3d--blue:hover {
    box-shadow: 0 3px #2c0b8e;
    top: 1px;
  }
  .css-button-3d--blue:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
  }

  .css-button-3d--gray {
    margin-top: 10px;
    min-width: 500px;
    height: 60px;
    color: #fff;
    font-size: x-large;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #337ab7;
    box-shadow: 0 5px #2c0b8e;
  }
  .css-button-3d--gray:hover {
    background-color: #515251;

    top: 1px;
  }
  .css-button-3d--gray:active {
    box-shadow: 0 0 #2c0b8e;
    top: 5px;
  }

  .label{
    font-size: x-large;
  }




