


<html>


<body class = "back">
  <button class = "css-button-3d--blue2" *ngIf="usuarioActual.rolAsignado === 'ADMIN'" (click)="funcionParaAdmin()">Mi botón de administrador</button>


  <div class="container">
    <div class="cards">
      <div class="card MS1">
        <h2 class="card-title-large">Gestión de las sedes y aulas</h2>
        <br><br>
        <p class="card-description">CRUD de sedes, responsables de sedes, aulas, vigilantes de ulas y responsables de
          aulas. Cada año se podría usar distintas sedes. Este servicio permitirá asignar vigilantes y responsables a
          aulas y responsables de sedes a sedes</p>
      </div>
      <div class="card MS2">
        <h2 class="card-title-large">Gestión de usuarios de la aplicación</h2>
        <br><br>
        <p class="card-description">CRUD de usuarios de la aplicación. Permitirá a cada usuario a cambiar sus datos de
          contacto y cambiar su contraseña en caso de que se le olvide. Permitirá hacer login y generará el token de
          autenticación para el acceso a los servicios WebGestión del estudiantado </p>
      </div>
      <div class="card MS1">
        <h2 class="card-title-large">Gestión del estudiantado </h2>
        <br><br>
        <p class="card-description">Importación de información de alumnos a partir de CSV o Excel. Permitirá obtener el
          lisado de alumnos con posibilidad de filtrarlo y ordenarlos or algunos campos. La información de los alumnos
          deberá estar contextualizada a cada año. En el curso vigente se podrá eliminar y regenerar el listado (pasada
          una fecha se bloquea)</p>
      </div>
      <div class="card MS1">
        <h2 class="card-title-large">Asignación de materias y estudiantes a aulas</h2>
        <br><br>
        <p class="card-description">Permitirá asociar alumnos a sedes. Permitirá asignar materias (y alumnos) a aulas en
          una sede. Permitirá el reporte de los alumnos presentados a los 30 minutos del inicio del examen y el reporte
          de los alumnos que han presentado el examen al final. Permitirá distinguir a los alumnos con necesidades
          especiales para su asignación a ciertas aulas especiales. Hay que tener en cuenta que el primer día el alumno
          no puede cambiar de aula en los tres primeros exámenes. Este servicio debe generar los anexos I y II en PDF
        </p>
      </div>
      <div class="card MS1">
        <h2 class="card-title-large">Notificaciones</h2>
        <br><br>
        <p class="card-description"> Envío de notificaciones para los alumnos, sobre lugar y hora del examen y
          notificación a los vigilantes y y responsables de aula de su aula para vigilar. Las notificaciones se harán
          por correo electrónico y SMS (cuando el móvil está disponible). También permitirá la notificación al alumno de
          la noa obtenida en cada examen cuando el vicerrectorado haga pública esta información</p>
      </div>
      <div class="card MS2">
        <h2 class="card-title-large">Gestión de correctores</h2>
        <br><br>
        <p class="card-description">CRUD de los correctores de exámenes</p>
      </div>
      <div class="card MS1">
        <h2 class="card-title-large">Evaluación de exámenes</h2>
        <br><br>
        <p class="card-description">Asignación de exámenes a correctores. Un corrector no puede corregir más exámenes de
          lo que ha indicado y solo puede corregir exámenes de su materia. El servicio debe generar la asignación de
          forma automática y permitir la consulta a los correctores de los exámenes que deben corregir. El servicio
          permitirá a cada evaluador incluir la calificación para el examen. El vicerrectorado deberá poder comprobar
          cuántos exámenes hay corregidos en cada momento del total</p>
      </div>
      <div class="card MS1">
        <h2 class="card-title-large">Gestión del horario y las materias</h2>
        <br><br>
        <p class="card-description">Permitirá definir el horario de la PEvAU para cada curso y gestionar las materias
          disponibles.</p>
      </div>
    </div>
  </div>



</body>
<hr>
  <small>Ignacio Fernández Contreras</small>
</html>
